XML/SCHEMA/PASchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="TABLE">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PRINCIPIOACTIVO"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRINCIPIOACTIVO">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="nombre" type="xs:string"/>
</xs:schema>
